{% extends 'base.html' %}
{% load rest_framework %}

{% block title %}profile {{ profile }} {% endblock title %}

{% block user_profile %}
<h1>Profile - {{ profile.user }}</h1>

<form action="{% url 'users:user-profile' pk=profile.id %}" method="POST" enctype="multipart/form-data">
    {% if profile.bio %}
    bio - {{ profile.bio }}<br>
    {% endif %}

    {% if profile.birth_day %}
    B-day - {{ profile.birth_day }}<br>
    {% endif %}

    {% if profile.avatar %}
    <img class="user-profile-img" src="{{ profile.avatar.url }}" alt=""><br>
    {% endif %}

    {% if profile.phone_number %}
    Phone - {{ profile.phone_number }}<br>
    {% endif %}

    {% if profile.vk %}
    vk - {{ profile.vk }}<br>
    {% endif %}

    {% if profile.ok %}
    ok - {{ profile.ok }}<br>
    {% endif %}

    {% if profile.fb %}
    fb - {{ profile.fb }}<br>
    {% endif %}

    {% if profile.linkedin %}
    linkedin - {{ profile.linkedin }}<br>
    {% endif %}

    {% if profile.inst %}
    instagram - {{ profile.inst }}<br>
    {% endif %}

    {% if profile.git %}
    git - {{ profile.git }}<br>
    {% endif %}

    {% if profile.twitter %}
    twitter - {{ profile.twitter }}<br><br><br>
    {% endif %}

</form>

{% endblock user_profile %}
