h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
a {
    margin: 0;
    padding: 0;
list-style-type: none;
text-decoration: none;
}
textarea:focus,
input:focus {
  outline: none;
}

a {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
background-color: '#eef2f9';
min-height: 100%;
margin: 0;
padding: 0;
position:relative;
}
