@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

body {
  background-color: #000;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  max-height: 50px;
}

.header-container-mid>a {
  color: #909296;
  font-size: 16px;
  font-weight: 500;
}

.header-container-right {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.item-signup {
  padding: 5px;
  border: #fff 1px solid;
  border-radius: 8px;
}

div>a,
.h1-container {
  margin: 0 10px;
}

.header {
  background-color: #000;
  border-bottom: #909296 0.5px solid;
  height: 60px;
  width: 100%;
  top: 0;
}

.header-container {
  height: 100%;
  margin: 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  padding: 0 90px;
}

.user-profile-img {
  width: 200px;
}

.column {
  height: max-content;
  max-height: 68vh;
  overflow: scroll;
  border: 1px solid #343a40;
  background-color: #141517;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  min-width: 300px;
}

.add-column{
  background-color: #000;
}

.add-column:hover{
  background-color: #25262b;
}

.add-task-button:hover{
  transform: scale(1.05);
}

.board {
  width: 100%;
  height: 74vh;
  margin: 10px;
  display: flex;
  overflow: auto;
}

.footer {
  width: 100%;
  height: 50px;
  border-top: #909296 0.5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task {
  max-width: 100%;
  padding: 12px 20px;
  border-radius: 7px;
  background-color: #25262b;
  margin: 10px 0;
}

.name-task {
  font-size: 16px;
  font-weight: 500;
  line-height: 155%;
}

.name-column {
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px;
}

.empty-column {
  margin: 10px 0 0 20px;
  color: #ed6767
}

.modal-content{
  background-color: #101113;
  border: #343A40 1px solid;
}

.modal-title{
  font-size: 20px;
  font-weight: 300;
  line-height: 31px;
}

.btn-close-modal{
  border: none;
  background-color: #101113;
  color: #fff;
}

.modal-header{
  border-bottom: none;
  margin: 20px 0 0 20px;
}

#id_tittle, #id_description, #id_name_column{
  background-color: #101113;
  border: #343A40 1px solid;
  border-radius: 4px;
}

.form-create-task{
  display: flex;
  flex-direction: column;
}

.task-description{
  margin: 10px 0 0 0;
}

.modal-header{
  padding-bottom: 0px;
}

.tittle-column{
  color: #868E96;
  font-size: 14px;
  font-weight: 300;
}

.button-save{
  margin: 10px 0 0 0;
  background-color: #25262B;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 4px;
  padding: 8px 22px;
  width: max-content;
}

.button-save-task:hover{
  background-color: #3a3c43;
  transition: 0.5s;
}

.modal-dialog{
  width: 460px;
}

.form-task-text-x{
  display: flex;
  justify-content: space-between;
}

.btn-close-modal{
  margin: 10px;
}

.modal-body{
  margin: 0 20px 20px 20px;
}

.con-button-save-task{
  display: flex;
  justify-content: center;
}

input, textarea{
  padding: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
}

input::placeholder, textarea::placeholder{
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
