{% extends 'base.html' %}
{% load rest_framework %}

{% block title %}главная{% endblock title %}

{% block as %}
    {% if user.is_authenticated %}
    <h1>Пользователь зарегистрирован</h1>
    <h2>Имя пользователя: {{ user.username }}</h2>
    {% else %}
    <h1>Пользователь не зарегистрирован!</h1>
    {% endif %}


    <a href="{% url 'users:logout' %}">Logout</a>
    <br>
    <a href="{% url 'users:login' %}">Login</a>
    <br>
    <a href="{% url 'users:my-profile' %}">обновить мой профиль</a>
    <br>
    <a href="{% url 'users:profile-list' %}">все пользователи</a>
{% endblock as %}
