{% extends 'base.html' %}

{% block title %}обновить мой профиль{% endblock title %}

{% block as %}


{% if user.is_authenticated %}
<h1>Пользователь зарегистрирован</h1>
<h2>Имя пользователя: {{ user.username }}</h2>
{% else %}
<h1>Пользователь не зарегистрирован!</h1>
{% endif %}
<br>
<br>
<br>
<br>
<h1>ooooooo</h1>



<form method="post">
    {% csrf_token %}

    Ава {{form.avatar}}<br>
    день рождения{{form.birth_day}}<br>
    описание {{form.bio}}<br>
    номер телефона {{form.phone_number}}<br>
    vk {{form.vk}}<br>
    ok {{form.ok}}<br>
    fb {{form.fb}}<br>
    linkedin {{form.linkedin}}<br>
    instagram {{form.inst}}<br>
    git {{form.git}}<br>
    twitter {{form.twitter}}<br>

      <a href="{% url 'users:my-profile' %}">мой профиль</a> 
      <button type="submit" class="btn btn-primary">обновить</button>
    </form>
{% endblock as %}
