{% extends 'base.html' %}
{% load rest_framework %}

{% block title %}мои колонки{% endblock title %}

{% block my_workspace %}
    {% if columns %}
        {% for column in columns %}
            <div class="column">
                <p>{{ column.board }}</p>
                <td><a href="{% url 'tasks:my-column' pk=column.id %}">{{ column.name_column }}</a></td>
                <p>{{ column.id }}</p>
                <p>{{ column.date_create }}</p>
                <a href="{% url 'tasks:delete-column' column.id %}">удалить колонку</a>
            </div>
            <br><br><br>
        {% endfor %}
    {% else %}
    <br><br>
        <p>на этой доске пока нет колонок!</p>
    {% endif %}

<br><br>
<p>Form</p>
<br>
<p>Вывод формы</p>
<br>

<form  method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit" value="сохранить">
</form>

{% endblock my_workspace %}
