{% extends "base.html" %}
{% load static %}
{% load rest_framework %}
{% block title %}
  мои колонки
{% endblock title %}
{% block my_workspace %}
  <p>все задачи по колонкам одной доски</p>
  <div class="board">
    {% for column in data %}
      <div class="column">
        <p class="name-column">{{ column.column.name_column }}</p>
        <!-- <a href="{% url 'tasks:delete-column' column.column.id %}">УДАЛИТЬ КОЛОНКУ</a> -->
        <!-- <p>{{ column.column.id }} - id column</p> -->
        {% if column.tasks_in_column %}
          {% for task in column.tasks_in_column %}
            <div class="task">
              <p class="name-task">{{ task.tittle }}</p>
            </div>
            <!-- <p>{{ task.id }}</p>
                        <td>{{ task.description }}</td>
                        <p>{{ task.column }}</p> -->
            <!-- <a href="{% url 'tasks:delete-task' task.id %}">удалить таску</a> -->
          {% endfor %}
        {% else %}
          <p class="empty-column">Пустая колонка</p>
        {% endif %}
        <!-- Кнопка-триггер модального окна -->
        <button type="button"
                class="btn btn-second text-light add-task-button"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal_{{column.column.id}}">
          + Add task
        </button>

        <!-- Модальное окно -->
        <div class="modal fade"
             id="exampleModal_{{column.column.id}}"
             tabindex="-1"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="form-task-text-x">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New task</h5>
                </div>
                <div class="wrapper-button-close">
                  <button type="button"
                    class="btn-close-modal"
                    data-bs-dismiss="modal"
                    aria-label="Закрыть">
                    <img src="{% static '/icons/x.svg' %}" alt="Close">
                  </button>
                </div>
              </div>
              <div class="modal-body">
                <form class="form-create-task" method="post"
                      action="{% url 'tasks:create-task' pk=column.column.id %}">
                  {% csrf_token %} 
                  <p class="tittle-column">Task name</p>
                  {{ task_form.tittle }}
                  <p class="tittle-column task-description">Description</p>
                  {{ task_form.description }}
                  <div class="con-button-save-task">
                    <input class="button-save" type="submit" name="task-form" value="save" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    {% endfor %}

    <!-- Кнопка-триггер модального окна -->
      <button type="button"
        class="btn btn-second text-light column add-column"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal_{{column.column.id}}">
        + Add column
      </button>


    <!-- Модальное окно -->
    <div class="modal fade"
          id="exampleModal_{{column.column.id}}"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="form-task-text-x">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New column</h5>
            </div>
            <div class="wrapper-button-close">
              <button type="button"
                class="btn-close-modal"
                data-bs-dismiss="modal"
                aria-label="Закрыть">
                <img src="{% static '/icons/x.svg' %}" alt="Close">
              </button>
            </div>
          </div>
          <div class="modal-body">
            <div class="form">
              <form method="post" action="{% url 'tasks:my-board' pk=board.id %}">
                {% csrf_token %}
                <p class="tittle-column">Column name</p>
                {{ column_form.name_column }}
                <div class="con-button-save-task">
                  <input class="button-save" type="submit" name="column-form" value="save" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
{% endblock my_workspace %}
